<form (ngSubmit)="login()">
  <h1>Welcome To Admin Panel</h1>
  <div class="form-group">
    <input 
      #emailControl="ngModel" 
      appEmailvalidator 
      appHover
      color="red"
      type="email" 
      class="form-control"
      name="email"
      [(ngModel)]="email"
      placeholder="Email" 
      required />
  </div>

  <div class="form-group">
    <input 
      type="password" 
      class="form-control"
      name="password"
      [(ngModel)]="password"
       [(autocomplete)]="password"
      placeholder="Type your password" 
      required />
  </div>

  <div class="form-group">
    <button 
      type="submit" 
      class="btn btn-primary" 
      [disabled]="!emailControl.valid || !password">Login</button>
  </div>
</form>

<!-- This will display the values for debugging purposes -->
{{ email }} {{ password }}
