/* You can add global styles to this file, and also import other style files */
/** @tailwind base;
@tailwind components;
@tailwind utilities;
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


 // "@tailwindcss/postcss": "^4.0.13",

 "postcss": "^8.5.3",
 "tailwindcss": "^4.0.13",
*/

main{
    background-color: #ff0000;
}
html, body { height: 100%;
background: linear-gradient(135deg, #1e1e2d, #2a2a3d);
    color: white; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
